.App {
  text-align: center;
}
h2{
  color:#b4ec1a;
  font-family:  'Courier, monospace';
  font-weight: bold;
  letter-spacing:1px;
}
h3{
  color:green;
}
p{
  color:#be0909;
  margin-left: 4px;
}
.label{
  color:white;
  font-size: 20px;
  font-family: Noto;
  letter-spacing:1px;
}
#checkheading{
  color:red;
  /* margin-left: -74%; */
}

.container{
  background-color: #183072;
  margin-top: 15px;
  width: 30%;
  border-radius:10px;
  padding: 20px 20px;
  
}

@media (max-width: 998px) {
  .container{
    width: 80%;
  }
}























/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



 */








